<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>

		<listener class-name="com.wheelpros.extentreportlistener.ExtentReporterNG"></listener>

	</listeners>

	<test name="Test">
		<groups>
			<run>
				<exclude name="uk" />
				<exclude name="ca" />
				<include name="us" />				
				
			</run>
		</groups>
		<!-- <classes>
			<class name="com.wheelpros.qa.testcases.CreditAppCATestCase" />
			<class name="com.wheelpros.qa.testcases.CreditAppUKTestCase" />

		</classes>-->
		<packages>
			<package name="com.wheelpros.qa.testcases"></package>
		</packages>


	</test> <!-- Test -->

</suite> <!-- Suite -->
